.postViewContainer {
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 20px;
  max-width: 670px;
  width: 500px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.profilePhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.usernameMoment {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  margin-right: 4px;
}

.separator {
  margin-right: 4px;
  color: #777;
}

.moment {
  color: #777;
  font-size: 12px;
}

.postContent {
  margin-bottom: 16px;
  width: 100%;
}

.postContent p {
  margin-bottom: 8px;
}

.media {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.likes {
  color: #333;
  margin-bottom: 8px;
}

.comments {
  margin-bottom: 16px;
  margin-top: 20px;
}
.commentCount {
  margin-left: 4px;
}
.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  /* border: 1px solid black; */
}
.commentSeparator {
  border-left: 2px solid #ccc;
  margin-left: 10px;
}
.subCommentSeparator {
  border-left: 2px solid #999;
  margin-left: 0px;
  padding-left: 10px;
}

.horizontalBranch {
  border-top: 1px solid #999;
  margin-left: 10px;
  width: 10px;
  position: absolute;
  left: -10px;
  top: 10px;
}
.commentProfilePhoto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.commentUsername {
  font-weight: bold;
  margin-right: 4px;
  font-size: 16px;
}

.commentMoment {
  color: #777;
  font-size: 12px;
}

.showMoreButton,
.reduceCommentsButton {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  /* margin-right: 8px; */
  display: flex;
  justify-content: center;
}

.addComment {
  display: flex;
  align-items: center;
}

.commentInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.likes {
  color: #333;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.likes span {
  margin-right: 8px;
}

.likeButtonContainer {
  display: flex;
  align-items: center;
}

.likeButton {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  /* font-size: 24px; */
  outline: none;
  margin-right: 8px;
}
.commentButton {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  /* font-size: 24px; */
  outline: none;
  margin-right: 8px;
}

.liked {
  color: blue;
}

.likeText {
  font-size: 14px;
}

.likedText {
  font-size: 16px;
  color: blue;
}
.separatorBar {
  border-bottom: 1px solid #ccc;
  margin: 16px 0;
}
.replies {
  margin-left: 0px;
  /* border-left: 2px solid #ccc;   */
  padding-left: 0px;
  /* border: 1px solid; */
}
.InputStyle {
  border: 1px solid;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  max-width: 100%;
}
.InputWrapper {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.sendButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 2px;
}
.input {
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
  padding: 6px 12px 6px 12px;
}
.postInfo {
  display: flex;
  flex-direction: column;
}
.commentWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 224, 237);
  padding: 5px;
  border-radius: 10px;
  width: 400px;
}
.commentData {
  /* border: 1px solid green; */
  display: flex;
  max-width: 100%;
}

.commentText {
  margin-top: 4px;
  align-self: flex-start;
  /* border: 2px solid blue; */
  max-width: 100%;
  word-wrap: break-word;
}
.eventInfo {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.eventTitle {
  font-size: 18px;
  font-weight: bold;
  color: green;
}
.eventDateTime {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.eventDateTime .icon {
  margin-right: 5px;
}

.eventDate,
.eventTime,
.eventLocation {
  margin-right: 10px;
}
.video {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}
.userInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.userInfos {
  display: flex;
  flex-direction: row;
}

/* Ecrans larges extra larges*/
@media (min-width: 1201px) {
  .postViewContainer {
    min-width: 500px;
  }
}

/* Ecrans larges*/
@media (min-width: 1025px) and (max-width: 1200px) {
  .postViewContainer {
    min-width: 350px;
  }
}

/* Ecrans ordinateur portable*/
@media (min-width: 769px) and (max-width: 1024px) {
  .postViewContainer {
    min-width: 300px;
  }
}

/* Ecrans pour tablettes*/
@media (min-width: 481px) and (max-width: 1024px) {
  .postViewContainer {
    width: 400px;
  }
  .commentWrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 237);
    padding: 5px;
    border-radius: 10px;
    width: 350px;
  }
  .sendButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2px;
  }
  .input {
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    padding: 6px 12px 6px 12px;
  }
}

/* Ecrans pour mobiles*/
@media (min-width: 320px) and (max-width: 480px) {
  .postViewContainer {
    width: 320px;
  }
  .eventInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .eventDateTime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .eventDateTime .icon {
    margin-right: 0;
    margin-bottom: 5px;
  }

  /* Ajoutez ces styles pour aligner chaque paire d'icône et valeur côte à côte */
  .eventDateTime > div {
    display: flex;
    align-items: center;
  }
  .commentWrapper {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: rgb(224, 224, 237);
    padding: 5px;
    border-radius: 10px;
  }
  .commentData {
    /* border: 1px solid green; */
    display: flex;
    max-width: 100%;
  }

  .userInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .commentText {
    margin-top: 4px;
    align-self: flex-start;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 12px;
  }
  .commentUsername {
    font-weight: bold;
    margin-right: 4px;
    font-size: 14px;
  }
  .sendButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 4px 6px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 2px;
  }
  .input {
    width: 200px;
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
  }
}
