/* ProfilePage.module.css */
.profileContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.pageTitle {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 50px;
  width: 100%;
  padding-left: 20px;

  /* padding-left: 5px solid; */
}
.pageTitle2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.input {
  border: 1px solid #ccc;
  padding: 8px 16px 8px 16px;
  width: 100%;
  border-radius: 16px;
}
.inputDiv {
  padding-bottom: 6px;
}
.inputDisabled {
  border: 1px solid #ccc;
  padding: 8px 16px 8px 16px;
  width: 100%;
  border-radius: 16px;
  background-color: #ccc;
}
.input {
  border: 1px solid;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #696565;
  border-radius: 25px;
  font-size: 16px;
  color: black;
}

.inputContainer {
  height: 47px;
  position: relative;
}
.textInput {
  border: 1px solid #ccc;
  padding: 8px 16px;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: min-content;
}

.profileBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.profilePhotoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-right: 12px;
  /* padding: 12px; */
  border-radius: 90px;
  position: relative;
  display: inline-block;
}

.cameraIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 110px;
  left: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px;
  border-radius: 20px;
}

.profilePhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.photoTitle {
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  width: "100%";
}

.formTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 10px;
}
.formContainer {
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 12px;
  margin-left: 2px;
}

@media (max-width: 1000px) {
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 12px;
    justify-content: space-between;
    border: 1px;
  }
  .pageTitle {
    font-size: 24px;
    font-weight: bold;
    /* display: none; */
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .pageTitle2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    display: none;
    justify-content: center;
    width: 100%;
  }

  .profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-right: 0px;
  }
  .profileBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .profileContainer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
  } */
  .formContainer {
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 12px;
    margin-top: 12px;
  }
  .photoTitle {
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
