/* SuggestionBoard.module.css */

.suggestionBoardContainer {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
}

.suggestionBoardTitle {
  text-align: left;
  margin-bottom: 10px;
}

.suggestionBoardDivider {
  border: none;
  border-top: 1px solid #e4e4e4;
  margin-bottom: 10px;
}

.suggestionItemContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profilePhoto {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 24px;
}

.usernameContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.usernameContainer p {
  margin: 0;
}

.suggestionButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.suggestionButton {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}

.viewAllButton {
  background-color: #ffffff;
  color: #333333;
}

.reduceButton {
  background-color: #333333;
  color: #ffffff;
}
.suggestionItemWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.username {
  font-weight: bold;
  font-size: 14px;
}

.usernameLowercase {
  font-size: 12px;
  color: #666666;
}

.blockUserInfo {
  display: flex;
  flex-direction: row;
  width: 120px;
  flex-wrap: wrap;
}

.pagination {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
